html {
    width: 100%;
    height: 100%;
    color: black;
    background-color:dimgray ;
    font-family: 'Mooli', sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div {
    margin: 0 auto;
    justify-content: center;
}

#tooltip {
    position: absolute;
    z-index: 20;
    background-color: beige;
    text-align: center;
    color: black;
    padding: 10px;
    border-radius: 2px;
    font-size: 20px;
    margin: 0 auto;
}

#legend {
    position: absolute;
}

#title-container {
    text-align: center;
}

h1 {
    text-decoration:underline ;
}

a {
    color: white;
    
}